:root {
	--Primary-paleBlue-color: hsl(225, 100%, 94%);
	--Primary-brigthBlue-color: hsl(245, 75%, 52%);
	--Neutral-veryPaleBlue-color: hsl(225, 100%, 98%);
	--Neutral-desaturatedBlue-color: hsl(224, 23%, 55%);
	--Neutral-darkBlue-color: hsl(223, 47%, 23%);
	--Hover-state-color: #766cf1;
}

.ebug {
	border: red solid 1px;
}

body {
	background-color: var(--Primary-paleBlue-color);
	font-family: 'Red Hat Display', sans-serif;
	align-content: center;
}

img {
	border-radius: 20px 20px 0 0;
	width: 325px;
	height: auto;
}

.card {
	width: 325px;
	margin: auto;
	margin-top: 10%;
	border-radius: 20px;
	align-content: center;
	background-color: white;
}

h1 {
	padding: 20px 0 0 0;
	text-align: center;
	font-weight: 900;
}

p {
	text-align: center;
	color: gray;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.6;
}

.BTNsection {
	display: flex;
	flex-direction: column;
}

.pricingCard {
	display: flex;
	justify-content: space-between;
	margin: 10px 20px;
	background-color: var(--Neutral-veryPaleBlue-color);
	height: 75px;
	border-radius: 15px;
}

.musicIcon {
	margin-left: 15px;
	margin-top: 4%;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.annualPlan {
	padding-top: 6%;
	margin-right: 8%;
	font-weight: 900;
	font-size: 14px;
}

#price {
	color: gray;
	font-weight: normal;
}

.changeLink {
	color: var(--Primary-brigthBlue-color);
	padding: 9% 6% 0 0;
	text-decoration: underline;
	font-weight: 900;
	font-size: 13px;
}

.changeLink:hover {
	color: var(--Hover-state-color);
	cursor: pointer;
}

button {
	margin: 10px 20px;
}

.paymentBTN {
	z-index: 1;
	background-color: var(--Primary-brigthBlue-color);
	color: white;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 700;
	border: none;
	border-radius: 10px;
	height: 45px;
	margin-top: 15px;
	margin-bottom: 10px;
	box-shadow: 0 7px 40px -10px var(--Primary-brigthBlue-color);
}

.paymentBTN:hover {
	background-color: var(--Hover-state-color);
	cursor: pointer;
}

.cancleBTN {
	background-color: white;
	color: gray;
	font-size: 15px;
	font-weight: 900;
	border: none;
	border-radius: 10px;
	height: 45px;
	padding-bottom: 10px;
}

.cancleBTN:hover {
	color: black;
	cursor: pointer;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
